
@property --azulitocontene {
            syntax: "<color>";
            inherits: true;
            initial-value: rgb(227, 242, 250);
        
        }
         @property --tamaño{
            syntax: "<length>";
            inherits: false;
            initial-value: 30px;
        }

body {
    font-family: "Nata Sans", sans-serif;
    background-color: #fff8fb;
    margin: 0;
    padding: 0;
    color: #333;
}

.titulo {
    width: 70%;
    background-color: rgb(240, 240, 240);
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-family: "Nata Sans", sans-serif;
}



.titulo p {
    margin: 5px 0 0;
    font-size: var(--tamaño);
}

.contenedor1 {
    width: 70%;
    background-color: var(--azulitocontene);
    margin: 20px auto;
    padding: 15px;
}

.contenedor1 h2 {

    color: rgb(113, 197, 245);
}

.contenedor1 ul {
    padding-left: 20px;
}



.contenedor2 {
    width: 70%;
    background-color: rgb(245, 227, 251);
    margin: 20px auto;
    padding: 15px;
}
.contenedor2 h2 {
   
    color: rgb(225, 157, 248);
}
.contenedor2 ul {
    padding-left: 20px;
}

.contenedor3 {
    width: 70%;
   background-color: #ffddea;
   
    margin: 20px auto;
    padding: 15px;
}
.contenedor3 h2 {
   color: #f790b7;
    
}
.contenedor3 ul {
    padding-left: 20px;
}

.contenedor4 {
    width: 70%;
   background-color: rgb(255, 253, 224);
    margin: 20px auto;
    padding: 15px;
    Display: block;
}
.contenedor4 h2 {
   
    color: rgb(253, 215, 0);
}
.contenedor4 ul {
    padding-left: 20px;
}

       .img{
            width: 50%;
            height: 50%;
            
        }
        .mascara {
            mask-image: url(https://cdn-icons-png.flaticon.com/512/764/764059.png);
            mask-repeat: no-repeat;
        }

/* Footer */
.pie {
    text-align: center;
    padding: 15px;
    background-color: #ffd9ec;
    margin-top: 20px;
    font-size: 14px;
}

